USE [master]
GO
/****** Object:  Database [EG]    Script Date: 31/08/2019 03:09:28 p.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'EG')
DROP DATABASE [EG]
GO
/****** Object:  Database [EG]    Script Date: 31/08/2019 03:09:28 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'EG')
BEGIN
CREATE DATABASE [EG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EG', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EG.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EG_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EG_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
